.clang-format
.vscode
.DS_Store
test/atcoder/arc066_*.test.cpp
test/atcoder/arc070_*.test.cpp
test/atcoder/arc080_*.test.cpp
test/atcoder/arc085_*.test.cpp
test/atcoder/arc097_*.test.cpp
test/atcoder/abc*_ex.*.cpp
test/hackerrank/minimum-history-query.DynSeg.test.cpp
test/hackerrank/drawing-rectangles.test.cpp
test/hackerrank/range-counting-query.Mo.test.cpp
test/hackerrank/grid-xor-query.KDT.test.cpp