.clang-format
.vscode
.DS_Store
test/aoj/0016*.test.cpp
test/aoj/0090*.test.cpp
test/aoj/0129*.test.cpp
test/aoj/0143*.test.cpp
test/aoj/0153*.test.cpp
test/aoj/0187*.test.cpp
test/aoj/0204*.test.cpp
test/aoj/0214*.test.cpp
test/aoj/2429*.test.cpp
test/atcoder/arc055_*.test.cpp
# ↓ダウンロードがうまくできない 2024/09/22 (トークンを変えたら動くかも)
test/atcoder/arc085_*.test.cpp
# ↓ダウンロードがうまくできない 2024/10/11 (トークンを変えたら動くかも)
test/atcoder/agc005_b*.test.cpp
# test/yukicoder/2654*.test.cpp

gemini-artifacts/